version: '3.7'

services:
  db:
    image: postgres:13
    container_name: postgres_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: tariffs_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: wb_tariffs_app
    environment:
      DATABASE_URL: postgres://user:password@db:5432/tariffs_db
      GOOGLE_SHEET_ID: "your_google_sheet_id_here"
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - .:/app

volumes:
  postgres_data: