services:
  postgres-db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_DB: tariffs_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  backend:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: tariff-backend
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql+psycopg2://postgres:postgres@postgres-db:5432/tariffs_db
      WB_API_TOKEN: eyJhbGciOiJFUzI1NiIsImtpZCI6IjIwMjUwOTA0djEiLCJ0eXAiOiJKV1QifQ.eyJhY2MiOjMsImVudCI6MSwiZXhwIjoxNzg3MzQyODk1LCJmb3IiOiJzZWxmIiwiaWQiOiIwMTljN2ExNy1hMjI1LTc3NjItOGQ0Yy0wYjZhNWIwODk3NzUiLCJpaWQiOjQ1OTExNjA5LCJvaWQiOjExMzA0NiwicyI6MTA3Mzc0MTgzMiwic2lkIjoiOTMyYzE3NmEtNTA4NS01YzZmLWJjMzMtNGU4NGNkZjU4ZDdlIiwidCI6ZmFsc2UsInVpZCI6NDU5MTE2MDl9.8By8w5cwHt_fCu0UG6fjkHZrtwxE9PqntYkzYysmYe36AQ50eejDDK0jnCDYC54wU3LDs5qvf8_aQ2yrkf5evA
    depends_on:
      - postgres-db
    restart: always

volumes:
  postgres_data: